# Secondary Account Cookies (from browser DevTools > Application > Cookies)
GEMINI___Secure-1PSID="your_psid_here"
GEMINI___Secure-1PSIDTS="your_psidts_here"
GEMINI___Secure-1PSIDCC="your_psidcc_here"
